html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
header {
    background-color: #227093;
    padding: 2%;
}

tablink {
    background-color: darkred;
    color: orangered;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
body {
    margin-bottom: 60px;
    background-color: white;

}
Movies {
    background-color: forestgreen;
}
Books {
    background-color: mediumvioletred;
}
Music {
    background-color: darkorange;
}
Comics {
    background-color: mediumaquamarine;
}
Games {
    background-color: darkred;
}
footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    background-color: #227093;
    justify-content: center;
    color: white;
    padding: 2%;
}
layout {
    display: grid;
    grid-tem background-color: darkred;
    plate-columns;
}
mainImage {
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 40px;
}
makeYourOwnDiv{
    background: grey;
    margin:0;
}
devices-img:hover{
    transform: scale(1.05);

}
