<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollectorsMy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollectorsMy.styles.css" asp-append-version="true" />
    
  </head>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
               
                 <link rel="icon" href="/images/collectorz-icon.png" type="images.png">
                 <h1 style="width: 50%; color: blue;font-size:30px;"><img src="images/collectorz-icon.png"  height="50" width="50"/>CollectorsMy.com ©</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-xs-12 col-sm-7 col-md-8 make-relative">

                  
                            <ul class="nav nav-tabs">
                                
                                <li class="nav-item" id="Movies">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Movies">Movies</a>
                                </li>
                                <li class="nav-item" id="Books">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Books">Books</a>
                                </li>
                                <li class="nav-item" id="Music">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Music">Music</a>
                                </li>
                                 <li class="nav-item" id="Comics">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Comics">Comics</a>
                                </li>
                                 <li class="nav-item" id="Games">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Games">Games</a>
                                </li>
                            </ul>
           
                                <div class="container">
                          
                                           <a href="https://www.collectorz.com/game">Home</a>
                                           <a href="https://www.collectorz.com/game/whatsnew">What's new?</a>
                                           <a href="https://www.collectorz.com/game/reviews">Reviews</a>
                                           <a href="https://shop.collectorz.com/games" target="_blank" rel="noopener" class="pull-right">Shop</a>
                                           <a href="https://help.clz.com/game" target="_blank" rel="noopener" class="pull-right">Support</a>
                    
                                </div>
                </div>
        </nav>
    </header>
  <body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  </body>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CollectorsMy.com © Copyright 2000-2022  - <a asp-area="" asp-controller="Home" asp-action="Private">Private</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  
</html>
