@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
             <h1>Welcome to Collectorz.com, the collection database software!</h1>
    <h2 class="<h1 style="text-align: center; font-size: 250%;">
       <small style="display: block; font-weight: 200; margin-top: 10px; color: #525252;">Easily catalog your movies, books, music, comics and games.<br>Work on your phone, tablet or computer and sync data between them.</small>
    </h2>
</div>
